<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <uses-permission android:name="com.google.wear.permission.PUSH_WATCH_FACES" />
    <uses-permission android:name="com.google.wear.permission.SET_PUSHED_WATCH_FACE_AS_ACTIVE" />

    <!-- The Wear SDK resolves this service through the caller's package visibility. -->
    <queries>
        <intent>
            <action android:name="com.google.wear.ACTION_PUSH_WATCH_FACES" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/t1arc_icon"
        android:label="@string/app_name"
        android:theme="@style/T1ArcWearTheme">
        <uses-library android:name="wear-sdk" android:required="false" />

        <activity android:name=".watchfaces.WatchFaceActivationActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}" android:host="watchfaces" android:path="/activate" />
            </intent-filter>
        </activity>
        <service android:name=".watchfaces.WatchFaceCommandService" android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:path="/t1arc/v1/watchfaces/command" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:exported="false"
            android:taskAffinity="" />

        <service
            android:name=".data.T1ArcDataLayerService"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/t1arc/v1/glucose/current"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/t1arc/v1/glucose/history"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/t1arc/v1/glucose/current"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/t1arc/v1/glucose/history"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".complication.T1ArcGlucoseComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcWatchFaceGlucoseComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcOpticalGlucoseComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcFreshnessComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcGraphComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_graph_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcChronographGraphComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_graph_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".complication.T1ArcOrbitGraphComplicationService"
            android:exported="true"
            android:icon="@drawable/t1arc_complication_icon"
            android:label="@string/glucose_graph_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".tile.T1ArcGlucoseTileService"
            android:description="@string/glucose_tile_description"
            android:exported="true"
            android:icon="@drawable/t1arc_icon"
            android:label="@string/glucose_tile_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/t1arc_tile_preview" />
        </service>
    </application>
</manifest>
